Repository flaport/klujax: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: "336fdd7"
    hooks:
      - id: clang-format
        args: ["-i"]
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.13.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: system
        files: \.(js|jsx|ts|tsx|md|yaml|yml|json|css)$
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --no-sync pyright
        language: system
        files: \.(py)$

expose klu_refactor and add vmap/pmap/grad tests
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

fix: add vmap batching rules for factor and refactor primitives
  klujax.py
Due: pyright

fix: relax b ndim checks in general_vmap_with_numeric for 1D b
  klujax.py
  tests.py
Due: pyright

add initial docs
  docs/advanced/jax-integration.md
  docs/advanced/memory-management.md
  docs/advanced/performance.md
  docs/api/analyze.md
  docs/api/coalesce.md
  docs/api/dot.md
  docs/api/factor.md
  docs/api/free.md
  docs/api/refactor.md
  docs/api/solve-with-numeric.md
  docs/api/solve-with-symbol.md
  docs/api/solve.md
  docs/concepts.md
  docs/examples/basic-solve.md
  docs/examples/batched.md
  docs/examples/differentiation.md
  docs/examples/high-performance.md
  docs/examples/newton-raphson.md
  docs/getting-started.md
  docs/index.md
  docs/js/mermaid-init.js
  justfile
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: prettier

update docs
  docs/advanced/jax-integration.md
  docs/advanced/memory-management.md
  docs/advanced/performance.md
  docs/api/analyze.md
  docs/api/coalesce.md
  docs/api/dot.md
  docs/api/factor.md
  docs/api/free.md
  docs/api/refactor.md
  docs/api/solve-with-numeric.md
  docs/api/solve-with-symbol.md
  docs/api/solve.md
  docs/concepts.md
  docs/examples/basic-solve.md
  docs/examples/batched.md
  docs/examples/differentiation.md
  docs/examples/high-performance.md
  docs/examples/newton-raphson.md
  docs/getting-started.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
Due: prettier

add workflow
  .github/workflows/docs.yml
  mkdocs.yml
  uv.lock
Due: prettier

add note
  docs/index.md
Due: prettier

Add documentation site (#25)
  .github/workflows/docs.yml
  docs/advanced/jax-integration.md
  docs/advanced/memory-management.md
  docs/advanced/performance.md
  docs/api/analyze.md
  docs/api/coalesce.md
  docs/api/dot.md
  docs/api/factor.md
  docs/api/free.md
  docs/api/refactor.md
  docs/api/solve-with-numeric.md
  docs/api/solve-with-symbol.md
  docs/api/solve.md
  docs/concepts.md
  docs/examples/basic-solve.md
  docs/examples/batched.md
  docs/examples/differentiation.md
  docs/examples/high-performance.md
  docs/examples/newton-raphson.md
  docs/getting-started.md
  docs/index.md
  docs/js/mermaid-init.js
  justfile
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: prettier

run pre-commit
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
  tests.py
Due: prettier, pyright

update pre-commit config
  .pre-commit-config.yaml
  klujax.py
  pyproject.toml
  uv.lock
Due: prettier, pyright

fix ty issues
  klujax.py
  tests.py
Due: pyright

fix ruff issues
  klujax.py
  pyproject.toml
  tests.py
Due: pyright

add test workflow
  .github/workflows/test.yml
Due: prettier

fix docs
  docs/index.md
Due: prettier

update justfile
  justfile
Due: none

Fix linting issues (#26)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  docs/index.md
  justfile
  klujax.cpp
  klujax.py
  pyproject.toml
  tests.py
  uv.lock
Due: prettier, pyright

fix docs and pre-commit
  .github/workflows/docs.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/api/analyze.md
  docs/api/coalesce.md
  docs/api/free.md
  docs/api/solve.md
  docs/concepts.md
  docs/examples/basic-solve.md
  docs/examples/batched.md
  docs/examples/differentiation.md
  docs/index.md
Due: prettier

added added refactor_and_solve, tsolve_with_symbol, tsolve_with_numeric
  klujax.cpp
  klujax.py
Due: pyright

added tests for refactor_and_solve, tsolve_with_symbol, tsolve_with_numeric
  tests.py
Due: pyright

pre-commit format
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

register solve_with_symbol_transpose
  klujax.py
Due: pyright

registered solve_with_numeric transpose
  klujax.py
Due: pyright

tsoolve functions to abstract eval
  klujax.py
Due: pyright

Refactor and solve (#27)
  klujax.cpp
  klujax.py
  tests.py
Due: pyright

Ensure Ai and Aj indices are cast to int32 at all prim.bind call sites
  klujax.py
Due: pyright

Ensure Ai and Aj indices are cast to int32 at all prim.bind call sites (#29)
  klujax.py
Due: pyright

Bump version from 0.4.8 to 0.5.0
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright

update pyproject.toml
  pyproject.toml
Due: none

feat(raii): Replace Python KLUHandleManager with C++ RAII classes
  klujax.cpp
  klujax.py
  tests.py
  uv.lock
Due: pyright

feat(raii): Replace Python KLUHandleManager with C++ RAII classes (#32)
  klujax.cpp
  klujax.py
  tests.py
  uv.lock
Due: pyright

Bump version from 0.5.0 to 0.5.1
  README.md
  klujax.cpp
  klujax.py
  pyproject.toml
Due: prettier, pyright
